{% extends "base.html" %}

{% block title %}{{ anime.anime_name }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detail.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/anime.css') }}">
    <script src="{{ url_for('static', filename='jquery/jquery.3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/anime.js') }}"></script>
    <script src="{{ url_for('static', filename='js/detail.js') }}"></script>
{% endblock %}

{% block body %}
<div>
    <div class="anime-info-container">
        <div class="anime-img">
            <img src="{{ url_for('static', filename='img/anime_list/'+anime.img_url.split('/')[4]) }}" alt="" height="280px" width="210px">
        </div>
        <div class="anime-info">
            <div class="detail-anime-name">
                {{ anime.anime_name }}
            </div>
            <div class="button-container">
                {% if anime.subscribe_status==1 %}
                    <button class="subscribe-button" id="{{ anime.mikan_id }}" subscribe_status="{{ anime.subscribe_status }}" style="background-color:red;">
                        <img src="{{ url_for('static', filename='img/icon/subscribe.svg') }}" alt="" width="20px" height="20px">
                    </button>
                    <button class="update-button" id="{{ anime.mikan_id }}" type="{{ anime.anime_type }}">
                        <img src="{{ url_for('static', filename='img/icon/update.svg') }}" alt="" width="20px" height="20px">
                    </button>
                    <button class="download-button" id="{{ anime.mikan_id }}" subscribe_status="{{ anime.subscribe_status }}" style="background-color:orange;">
                        <img src="{{ url_for('static', filename='img/icon/download.svg') }}" alt="" width="20px" height="20px">
                    </button>
                    <button class="clean-button" id="{{ anime.mikan_id }}">
                        <img src="{{ url_for('static', filename='img/icon/clean.svg') }}" alt="" width="20px" height="20px">
                    </button>
                {% else %}
                    <button class="subscribe-button" id="{{ anime.mikan_id }}" subscribe_status="{{ anime.subscribe_status }}">
                        <img src="{{ url_for('static', filename='img/icon/subscribe.svg') }}" alt="" width="20px" height="20px">
                    </button>
                    <button class="update-button" id="{{ anime.mikan_id }}" type="{{ anime.anime_type }}">
                        <img src="{{ url_for('static', filename='img/icon/update.svg') }}" alt="" width="20px" height="20px">
                    </button>
                    <button class="clean-button" id="{{ anime.mikan_id }}">
                        <img src="{{ url_for('static', filename='img/icon/clean.svg') }}" alt="" width="20px" height="20px">
                    </button>
                {% endif %}   
            </div>
            <div class="episode-container">
                <div class="subgroup-container">
                    {% if sorted_episode_list|length != 0 %}
                        <div class="subgroup" title="autoAnime" onclick="showSeeds('auto')">更新集数</div>
                    {% endif %}
                    {% for subgroup_id, seed_list in seed_group_by_subgroup.items() %}
                        <div class="subgroup" title="{{ subgroup_map[subgroup_id] }}" onclick="showSeeds('{{ subgroup_id }}')">{{ subgroup_map[subgroup_id] }}。</div>
                    {% endfor %}

                    <div class="subgroup-seed" id="auto" style="display: block;">
                    {% for item in sorted_episode_list %}
                        {% for episode, status in item.items() %}
                            {% if status == 1 %}
                                <div class="episode" id="downloaded-ep" data-id="{{ anime.mikan_id }}" style="background-color:rgb(41, 207, 132);">{{ episode }}</div>
                            {% elif status == 0 %}
                                <a href="/download">
                                    <div class="episode" id="downloaded-ep" data-id="{{ anime.mikan_id }}" style="background-color:rgb(88, 202, 255);">{{ episode }}</div>
                                </a>
                            {% else %}
                                <div class="episode" id="undownloaded-ep" data-id="{{ anime.mikan_id }}">{{ episode }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </div>

                    {% for subgroup_id, seed_list in seed_group_by_subgroup.items() %}
                        <div class="subgroup-seed" id="{{ subgroup_id }}">
                            {% for seed in seed_list %}
                                {% if seed.seed_status == 0 %}
                                    <div class="episode" id="undownloaded-sd" data-id="{{ anime.mikan_id }}" data-url="{{ seed.seed_url }}" title="{{ seed.seed_name }}">{{ seed.episode }}</div>
                                {% else %}
                                    {% if seed.qb_task_status == 1 %}
                                        <div class="episode" id="downloaded-sd" data-id="{{ anime.mikan_id }}" title="{{ seed.seed_name }}" style="background-color:rgb(41, 207, 132);">{{ seed.episode }}</div>
                                    {% elif seed.qb_task_status == 0 %}
                                        <a href="/download">
                                            <div class="episode" id="downloaded-sd" data-id="{{ anime.mikan_id }}" title="{{ seed.seed_name }}" style="background-color:rgb(88, 202, 255);">{{ seed.episode }}</div>
                                        </a>
                                    {% else %}
                                        <div class="episode" id="failed-sd" data-id="{{ anime.mikan_id }}" title="{{ seed.seed_name }}" style="background-color:grey;">{{ seed.episode }}</div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="context-menu" id="undownloaded-ep-menu">
    <div id="download">下载</div>
    <div id="recover">恢复</div>
    <div id="subscribe">开始订阅</div>
</div>
<div class="context-menu" id="downloaded-ep-menu">
    <div id="delete">删除</div>
    <div id="subscribe">开始订阅</div>
</div>
<div class="context-menu" id="undownloaded-sd-menu">
    <div id="download">下载</div>
</div>
<div class="context-menu" id="downloaded-sd-menu">
    <div id="delete">删除</div>
</div>
<div class="context-menu" id="failed-sd-menu">
    <div id="recover">恢复</div>
</div>
{% endblock %}