{% extends "base.html" %}

{% block title %}下载{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/download.css') }}">
    <script src="{{ url_for('static', filename='jquery/jquery.3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/download.js') }}"></script>
{% endblock %}

{% block body %}

<table id="torrentInfo">
    <tr>
        <th>进度</th>
        <th>已完成</th>
        <th>下载速度</th>
        <th>剩余时间</th>
        <th>用户</th>
        <th>做种数</th>
        <th>大小</th>
        <th>状态</th>
    </tr>
</table>

{% endblock %}

