{% extends "base.html" %}

{% block title %}番剧列表{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/anime.css') }}">
    <script src="{{ url_for('static', filename='jquery/jquery.3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/anime.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="navi">
    {% for year, seasons in broadcast_map.items() %}
    <div class="broadcast">
        <div class="year">{{ year }}</div>
            {% for season in seasons %}
            <div class="season">
                <a href="/anime/{{ year }}/{{ season }}">
                    {% if season == 1 %}
                        春
                    {% elif season == 2 %}
                        夏
                    {% elif season == 3 %}
                        秋
                    {% else %}
                        冬
                    {% endif %}
                </a>
            </div>
            {% endfor %}
    </div>
    {% endfor %}
    <button class="setting-button" onclick="window.location.href='/setting'">设置</button>
    </div>
    <ul>
    {% for anime in anime_list %}
        <li>
            <div class="anime-container">
                <a href="/anime/detail/{{ anime.mikan_id }}">
                    <img src="{{ url_for('static', filename='img/anime_list/' + anime.img_url.split('/')[4]) }}" alt="" height="280px" width="210px">
                </a>
                <div class="anime-info">
                    <div class="anime-name">{{ anime.anime_name }}</div>
                    <div class="button-container">
                    {% if anime.subscribe_status==1 %}
                        <button class="update-button" id="{{ anime.mikan_id }}" subscribe_status="{{ anime.subscribe_status }}" style="background-color:orange;">
                            <img src="{{ url_for('static', filename='img/icon/update.svg') }}" alt="" width="20px" height="20px">
                        </button>
                        <button class="subscribe-button" id="{{ anime.mikan_id }}" subscribe_status="{{ anime.subscribe_status }}" style="background-color:red;">
                            <img src="{{ url_for('static', filename='img/icon/subscribe.svg') }}" alt="" width="20px" height="20px">
                        </button>
                    {% else %}
                        <button class="subscribe-button" id="{{ anime.mikan_id }}" subscribe_status="{{ anime.subscribe_status }}">
                            <img src="{{ url_for('static', filename='img/icon/subscribe.svg') }}" alt="" width="20px" height="20px">
                        </button>
                    {% endif %}   
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>   
{% endblock %}