{% extends "base.html" %}

{% block title %}设置{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
    <script src="{{ url_for('static', filename='jquery/jquery.3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/setting.js') }}"></script>
{% endblock %}

{% block body %}
<div>
    <button class="start-button">原神启动!</button>
    <button class="stop-button">原神关闭!</button>
    <!-- <button class="modify-button">修改间隔</button> -->
    <form onsubmit="submitForm(event)">
        <label for="interval">执行间隔(min):</label>
        <input type="text" id="interval" name="interval"><br>
        <input type="submit" value="Submit">
    </form>
    <div id="daemon-pid"></div>
</div>
{% endblock %}