{% extends "base.html" %}

{% block title %}{{ anime.anime_name }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detail.css') }}">
{% endblock %}

{% block body %}
<div>
    <div class="anime-info-container">
        <div class="anime-img">
            <img src="{{ url_for('static', filename='img/anime_list/'+anime.img_url.split('/')[4]) }}" alt="" height="280px" width="210px">
        </div>
        <div class="anime-info">
            <div>{{ anime.anime_name }}</div>
            <div>
                {% for task in sorted_task_list %}
                <div class="episode">{{ task.episode }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}