a {
    text-decoration: none;
    color: inherit;
}
.lside-container {
    float: left;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 45px;
}
.lside-button {
    background-color: #d6d6d6;
    color: white;
    font-size: 20px;
    border: none;
    width: 80px;
    height: 80px;
    float: none;
}
.lside-button:hover {
    background-color: rgb(15, 161, 115);
}
.container {
    display: flex;
    flex-direction: column;
}
.navi {
    display: block;
    margin-bottom: 20px;
    width: 1000px;
}
.broadcast {
    float: left;
    margin-left: 5px;
}
.navi-with-button {
    margin-bottom: 20px;
}