.anime-img {
    float: left;
}
.anime-info {
    float: left;
    margin-left: 20px;
    display: flex; 
    flex-direction: column;
}
.detail-anime-name {
    margin-bottom: 10px;
    font-size: 20px;
    width: 500px;
}
li {
    list-style-type: none;
}
.episode-container {
    margin-top: 20px;
}
.episode {
    background-color: #d6d6d6;
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.episode:hover {
    background-color: rgb(41, 207, 132);
}
.subgroup {
    float: left;
    width: 80px;
    height: 30px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.subgroup-container {
    width: 800px;
    overflow: auto;
}
.subgroup-seed {
    clear: both;
    display: none;
}