.anime-info-container {
    margin-left: 45px;
}
.anime-img {
    float: left;
}
.anime-info {
    float: left;
    margin-left: 20px;
}
.anime-name {
    margin-bottom: 10px;
    font-size: 20px;
}
li {
    list-style-type: none;
}
.episode-container {
    float: left;
    margin-top: 20px;
}
.episode {
    margin-top: 20px;
    background-color: #d6d6d6;
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.subscribe-button {
    float: left;
    background-color: #d6d6d6;
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}
.subscribe-button:hover {
    background-color: red;
}
.update-button {
    float: left;
    background-color: #d6d6d6;
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin-left: 5px;
}