.anime-info-container {
    margin-left: 45px;
}
.anime-img {
    float: left;
}
.anime-info {
    float: left;
    margin-left: 20px;
    display: flex; 
    flex-direction: column;
}
.anime-name {
    margin-bottom: 10px;
    font-size: 20px;
}
li {
    list-style-type: none;
}
.episode-container {
    margin-top: 20px;
}
.episode {
    background-color: #d6d6d6;
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
}
.episode:hover {
    background-color: rgb(41, 207, 132);
}