#torrentInfo {
    width: 1450px;
}
progress {
    -webkit-appearance: none;
    appearance: none;
    width: 260px;
    height: 15px;
}
progress::-webkit-progress-bar{     
    background-color:#EFEFF4;
    border-radius: 5px;
}
progress::-webkit-progress-value{
    background-color:rgb(88, 202, 255);
    border-radius: 5px; 
}
.column-name {
    width: 210px;
    text-align: center;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.column-episode {
    width: 70px;
    text-align: center;
}
.column-progress {
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.column-done {
    width: 70px;
    text-align: center;
}
.column-speed {
    width: 140px;
    text-align: center;
}
.column-eta {
    width: 210px;
    text-align: center;
}
.column-peers {
    width: 70px;
    text-align: center;
}
.column-seeds {
    width: 70px;
    text-align: center;
}
.column-size {
    width: 140px;
    text-align: center;
}
.column-state {
    width: 140px;
    text-align: center;
}
.column-button {
    width: 300px;
    text-align: center;
}
.task-button {
    background-color: #d6d6d6;
    border: none;
    border-radius: 3px;
    width: 50px;
    height: 20px;
    color: white;
    cursor: pointer;
}
#pause:hover {
    background-color: orange;
}
#resume:hover {
    background-color: green;
}
#delete {
    background-color: red;
}
.anime-button {
    display: none;
}