{% extends "base.html" %}

{% block title %}番剧列表{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='jquery/jquery.3.7.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/anime.js') }}"></script>
{% endblock %}
{% block body %}
<button class="anime-button">列表更新</button>
{% for anime in anime_list %}
<ul>
    <li>
        <div class="anime-container">
            <img src="{{ url_for('static', filename='img/anime_list/'+anime.img_url.split('/')[4]) }}" alt="" height="280px" width="210px">
            <div class="anime-info">
                <div class="anime-name">{{ anime.anime_name }}</div>
                <div class="button-container">
                {% if anime.subscribe_status==1 %}
                    <button class="update-button" id="{{ anime.mikan_id }}" subscribe_status="{{ anime.subscribe_status }}" style="background-color:orange;">
                        <img src="{{ url_for('static', filename='img/icon/update.svg') }}" alt="" width="20px" height="20px">
                    </button>
                    <button class="subscribe-button" id="{{ anime.mikan_id }}" subscribe_status="{{ anime.subscribe_status }}" style="background-color:red;">
                        <img src="{{ url_for('static', filename='img/icon/subscribe.svg') }}" alt="" width="20px" height="20px">
                    </button>
                {% else %}
                    <button class="subscribe-button" id="{{ anime.mikan_id }}" subscribe_status="{{ anime.subscribe_status }}">
                        <img src="{{ url_for('static', filename='img/icon/subscribe.svg') }}" alt="" width="20px" height="20px">
                    </button>
                {% endif %}   
                </div>
            </div>
        </div>
    </li>
</ul>
{% endfor %}
{% endblock %}